#hero {
  display: flex;
  position: relative;
  min-height: 720px;
  align-items: center;
  background-color: $primary-color;

  .welcome_text {
    display: flex;
    width: 50%;
    margin-left: 10%;
    color: $secondary-color;
    flex-direction: column;

    h1 {
      width: 50%;
      font-size: 2.5rem;
    }

    h2 {
      width: 50%;
      font-weight: normal;
      font-size: 1.5rem;
    }

    .subbmit_explore {
      width: 30%;
      padding: 0 5%;
      border-radius: 10px;
      margin-top: 2rem;
      font-weight: 100;
      line-height: 3rem;
      margin-bottom: 4rem;
      font-size: 0.7rem;
      background-color: white;
      color: $primary-color;
      cursor: pointer;
    }
  }

  .start_image {
    width: 50%;
    margin-top: 4rem;
    flex-wrap: wrap;
    object-fit: contain;
  }

  .triangle-bottomright {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40%;
    margin-top: -1px;
    clip-path: polygon(0% 0%, 0% 40%, 100% 0%);
    background-color: #005ad5;
  }
}

@media (max-width: 767px) {
  #hero {
    display: flex;
    width: 100%;
    padding-top: 20%;
    margin-top: -1%;
    flex-direction: column;
    justify-content: flex-start;

    .welcome_text {
      width: 80%;
      margin: 0;
      text-align: center;
      align-items: center;

      .subbmit_explore {
        margin-bottom: 0;
      }

      h1 {
        width: 100%;
      }

      h2 {
        width: 100%;
      }
    }

    .start_image {
      display: none;
    }

    .triangle-bottomright {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 40%;
      margin-top: -1px;
      clip-path: polygon(0% 0%, 0% 20%, 100% 0%);
      background-color: #005ad5;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #hero {
    width: 100%;
    margin-top: -1%;
    flex-direction: column;
    justify-content: center;

    .welcome_text {
      width: 80%;
      margin: 0;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .subbmit_explore {
        margin-bottom: 0;
      }

      h1 {
        width: 100%;
      }

      h2 {
        width: 100%;
      }
    }
    .start_image {
      display: none;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #hero {
    width: 100%;
    margin-top: 0;

    .welcome_text {
      width: 50%;
      margin: 0;
      align-items: center;

      .subbmit_explore {
        margin-bottom: 0;
      }

      h1 {
        width: 70%;
      }

      h2 {
        width: 70%;
      }
    }
    .start_image {
      width: auto;
      padding: 0 5%;

      img {
        width: 90%;
      }
    }
  }
}
