#informations {
	display: flex;
	width: 100%;
	.informations_container {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto 20px;
		margin-bottom: 40px;
		.information_block {
			display: flex;
			flex-direction: row;
			.information_block_decription {
				width: 50%;
				color: black;
				font-weight: normal;
				padding: 2% 5% 5% 0%;
				text-align: left;
				h1 {
					font-size: 40px;
					color: black;
					text-indent: 40px;
					padding: 2% 0%;
					margin-bottom: 15px;
				}
				h2 {
					font-size: 28px;
					margin-bottom: 20px;
					padding-bottom: 1.5%;
					text-indent: 40px;
					padding-top: 10%;
				}
				p {
					font-size: 18px;
					padding-left: 10%;
					line-height: 180%;
				}
			}
			.information_image {
				display: flex;
				width: 50%;
				img {
					display: block;
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	main {
		#informations {
			.informations_container {
				width: 100%;
				.information_block {
					flex-wrap: wrap;
					flex-direction: column;
					align-items: center;
					.information_image {
					}
					.information_block_decription {
						width: 90%;
						text-align: center;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
	//lg
}
