* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
  header {
    position: relative;
    background-color: #005AD5;
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  header > * {
    position: absolute;
  }

  header > header nav ul {
    margin-top: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 5vw;
  }


  header nav ul {
    margin-top: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 5vw;
  }
  
  header nav ul li {
    margin-right: 3rem;
    padding: 0 3rem;
  }
  
  header nav ul li:hover {
    cursor: pointer;
    color: white;
    font-weight: 900;
  } 

  
  header div.tak {
    top: 15%;
    left: 7%;
    right: 48%;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  
  header h1 {
    margin-top: 15px;
    font-size: 20px;
    font-size: 35px;
    margin-bottom: 40px;
  }
  
  header h2 {
    font-size: 25px;
    font-weight: normal;

  }
  
  header button {
    margin-top: 80px;
    font-weight: 300;
    font-size: 15px;
    line-height: 70px;
    padding: 0 20px;
    color: #005AD5;
    font-size: 12px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
  }


  header img {
    height: 0%;
    bottom: 0;
    right: 0%;
  }
  
  
  /* Sekcja 1*/
  
  .offer {
    max-width: 1800px;
    padding: 2%;
    text-align: center;
  
  }
  
  .offer h1 {
    font-size: 50px;
    margin-bottom: 15px;
  
  }
  
  .offer h2 {
    font-size: 26px;
  }
  
  .offer p {
    font-size: 18px;
    line-height: 140%;
    padding: 0 5px;
    font-weight: 200;
    margin: 20px 0;
  }

    .offer {
      margin-top: 50px;
      padding: 5% 2%;
      text-align: center;
  
    }
    .prod {
      float: left;
      border: solid 2px black;
      border-radius: 20px;
      margin-left: 170px;
      margin-top: 50px;
      width: 20%;
      padding: 20px 50px;
    }

    .prod button {
        width: 100px;
        height: 50px;
        color: #005AD5;
        border: solid #005AD5 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    .prod button:hover {
        color: red;
    }

/* Sekcja 2*/
    
  .info {
    padding: 10px 0 30px;
  }
  
  .info h1 {
    font-size: 40px;
    color: black;
    text-indent: 40px;
    padding: 10px 0;
    margin-bottom: 15px;
  }
  
  .info .inf img {
    width: 0%;
  }
  
  .info .about {
    color: black;
    font-weight: normal;
    padding: 10px 20px 20px 0;
    text-align: left;
  }
  
  .info .about h2 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 6px;
    text-indent: 40px;
    padding-top: 50px;
  }
  
  .info .about p {
    font-size: 18px;
    padding-left: 40px;
    line-height: 180%;
  }
  
  .info .wiado {
    max-width: 1400px;
    margin: 0 auto 20px;
    margin-bottom: 40px;
  }
  
.inf,.about {
width: 50%;
float: left;
}

.inf img {
display: block;
}

.info .wiado:nth-of-type(even) .inf {
float: right;
}
/*Sekcja 3*/

.contact h1{
    font-size: 50px;
    text-align: center;
}
.contact h2{
    font-size: 25px;
    text-align: center;
}
.contact input{
    border: solid blue 5px;
    width: 100%;
    padding: 20px;
    margin-bottom: 5%;
}
.imie {
    float: left;
    width: 40%;
    margin-top: 4%;
    margin-left: 4%;
}
.gmail{
    float: left;
    width: 40%;
    margin-top: 4%;
    margin-left: 10%;
}
.temat{
    margin-left: 4%;
    clear:both;
    width: 90%;
}
.contact .tresc input {
  text-align: top;
    margin-top: -2%;
    margin-left: 4%;
    width: 90%;
    height: 50vh;
}
.contact button{
    justify-items: center;
    background-color: #005AD5;
    color: white;
    padding: 20px;
    cursor: pointer;
    border: solid #005AD5;
    margin-left: 44%;
    margin-bottom: 5%;
    width: 200px;
}