#informations {
    display: flex;
    width: 100%;

    
  }
  #informations .informations_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 20px;
    margin-bottom: 40px;
  }

  .information_block{
    display: flex;
    flex-direction: row;
  }

  .information_block .information_image{
    display: flex;
    width: 50%;
  
  }

  
  .information_block .information_image img{
    display: block;
    width: 100%;
   object-fit: contain;
  }




  
  #informations h1 {
    font-size: 40px;
    color: black;
    text-indent: 40px;
    padding: 10px 0;
    margin-bottom: 15px;
  }
  
  
  #informations .information_block_decription {
    width: 50%;
    color: black;
    font-weight: normal;
    padding: 10px 20px 20px 0;
    text-align: left;
  }

#informations .information_block_decription h2 {
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  text-indent: 40px;
  padding-top: 50px;
}

#informations .information_block_decription p {
  font-size: 18px;
  padding-left: 40px;
  line-height: 180%;
}
  
