#offer {
    margin-top: 200px;
    max-width: 1864px;
    text-align: center;
    padding: 5%;
  }
  
  #offer h1 {
    font-size: 50px;
    margin-bottom: 15px;
  
  }
  
  #offer h2 {
    font-size: 26px;
  }
  
  #offer p {
    font-size: 18px;
    line-height: 140%;
    padding: 0 20px;
    font-weight: 200%;
    margin-top: 5%;
  }

.all_products{
  margin: 20px;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  
}

.products {
  border: solid 2px black;
  border-radius: 20px;
  width: 30%;
}

.products input {
    width: 150px;
    height: 60px;
    color: #005AD5;
    border: solid #005AD5 2px;
    border-radius: 5px;
    cursor: pointer;
}
.button1{
  margin-top: 2.5%;
  margin-bottom: 10%;
}

.button2{
  margin-top: 10%;
}

.button3{
  margin-top: 10%;
}

.products input:hover {
    color: red;
}